<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".activity.music.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.NumberFindingGame"
        tools:targetApi="31">
        <activity
            android:name=".activity.manchoi.ManChoiActivity"
            android:exported="false" />
        <activity
            android:name=".activity.nguoidung.XemAnhDaiDienActivity"
            android:exported="false" />
        <activity
            android:name=".activity.nguoidung.XemAnhNenActivity"
            android:exported="false" />
        <activity
            android:name=".activity.nguoidung.ThongTinNguoiDungActivity"
            android:exported="false" />
        <activity
            android:name=".activity.auth.MaKhoiPhucActivity"
            android:exported="false" />
        <activity
            android:name=".activity.auth.ChonXacThucActivity"
            android:exported="false" />
        <activity
            android:name=".activity.setting.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.auth.DoiMatKhauActivity"
            android:exported="false" />
        <activity
            android:name=".activity.auth.XacThucEmailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="false" />
        <activity
            android:name=".activity.home.TrangChuActivity"
            android:exported="false" />
        <activity
            android:name=".activity.auth.DangKyActivity"
            android:exported="false" />
        <activity
            android:name=".activity.auth.DangNhapActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>